#showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url(../assets/images/showcase.webp) center center/cover no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#showcase .showcase-container h2 {
  font-size: 5rem;
}

#showcase .showcase-container p {
  margin: 15px 0;
  font-size: 1.1rem;
}
