#navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar .navbar-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#navbar .navbar-container .logo {
  height: 40px;
  width: auto;
}

#navbar .navbar-container ul {
  list-style: none;
  display: flex;
  font-weight: bold;
}

#navbar .navbar-container ul li {
  padding: 0 20px;
}

#navbar .navbar-container ul li:nth-child(3) {
  border-right: 1px solid white;
}
